*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: calc(0.6px - 0.05em);
}


:root{
    --color-primary: hsla(0,0%,100%,1);
    --color-secondary: hsla(242,88.4%,66.3%,1);
    --color-third: hsl(291.28deg 46.61% 50.78%);
    
    --color-primaryHover: hsla(242,88.4%,56.3%,1);
    --color-secondaryHover: hsla(240,83.3%,95.3%,1);
    
    --color-primaryActive: hsla(242,88.4%,45.3%,1);
    --color-body: hsla(0,0%,13%,1);
    --color-disscusion-date: hsl(242deg 40.13% 34.84% / 95%);
    
    --color-bodyDimmed: hsla(252,13%,46%,1);
    --side-bar-color: hsl(240deg 6.67% 97.06%) ;
    --side-border-color: hsl(252deg 13% 46% / 20%)
}

:root{
    --fontWeight-medium: 400;
    --fontWeight-bold: 700;
}

:root{
    --base-unit: 0.5rem;
    --icon-size: 25px;
    --gridGap: 1rem;
    --radius-full: calc(999 * var(--base-unit, 8px));
    --radius-medium: calc(1 * var(--lns-unit, 8px));
    --fontSize-small: calc(1.5 * var(--base-unit, 8px));
    --lineHeight-small: 1.5;
    --fontSize-body-sm: calc(1.5 * var(--base-unit, 8px));
    --lineHeight-body-sm: 1.5;
    --fontSize-medium: calc(1.75 * var(--base-unit, 8px));
    --lineHeight-medium: 1.6;
    --fontSize-body-md: calc(1.75 * var(--base-unit, 8px));
    --lineHeight-body-md: 1.6;
    --fontSize-large: calc(2.25 * var(--base-unit, 8px));
    --space-medium: calc(2 * var(--base-unit, 8px));
    --space-lg: calc(3 * var(--base-unit, 8px));
    --space-small: calc(1 * var(--base-unit, 8px));
    
}

body{
    font-family: circular, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif, Arial;

}
a{
    text-decoration: none;
}

button{
    background-color: none;
    border: none;
}

.box-flex{
    display: flex;
    align-items: center;
}

#sitecontainer{
    display: flex;
}

aside{
    width: 15rem;
    background-color: var(--side-bar-color);


}

nav{
    position: fixed;
    z-index: 11;
    padding-top: 0;
    top: 0;
    left: 0;
    flex-direction: column;
    display: flex;
    transition: width 0s 0s,padding 350ms;
    width: 15rem;
    height: 100%;
    background-color: var(--side-bar-color);
    border-right: 1px solid var(--side-border-color);

}

#close-mobile-menu{
    width: 35px;
    height: 35px;
    margin: 1rem;
    background-color: hsl(240deg 5.88% 90%);
    border-radius: 100%;
    padding: 4px;
}

/* .nav-divider{
    width: 100%;
    height: 1px;
    background-color: var(--side-bar-color);
    margin: var(--space-medium) 0;
} */


.nav-logo{
    position: relative;
    display: flex;
    margin: var(--space-medium);
    height: 2rem;
    opacity: 1;
}
.nav-logo a{
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-logo .svg-bx{
    display: block;
    max-width: calc(12 * var(--lns-unit,8px));
}

.nav-logo .srOnly{
 font-weight: 800;
 font-size: 1.8rem;
 color: var(--color-body);
}


nav .nav-card{
    background-color: var(--color-primary);
    border:  1px solid var(--side-border-color);
    border-radius: var(--radius-medium);
    padding: var(--space-medium);
    margin:   var(--space-medium) .5rem;
}



.nav-card-text{
    display: block;
    font-size: var(--fontSize-body-md);
    line-height: var(--lineHeight-body-md);
    font-weight: var(--fontWeight-bold);
    color: var(--color-body);
}

.nav-card-btns{
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    grid-auto-flow: column;
    margin-top: var(--space-medium);
}

.nav-card .get-loom, header .header-get-btn{
    appearance: none;
    padding: 0 calc(1.5 * var(--base-unit,8px));
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    text-decoration: none;
    transition: background-color 0.6s ease 0s, border-color 0.6s ease 0s;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    font-weight: var(--fontWeight-bold);
    border-radius: var(--radius-full);
    display: inline-flex;
    height: calc(4 * var(--base-unit,8px));
    min-width: calc(4 * var(--base-unit,8px));
    font-size: var(--fontSize-small);
    line-height: var(--lineHeight-small);
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.nav-card .get-loom:hover{
    background-color: var(--color-primaryHover);
}

 header .header-get-btn:hover{
    background-color: var(--color-primaryHover);
} 

.toggle{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 1rem;
    background: #fff;
    visibility: hidden;
}

.nav-card .sign-up, header .header-sign-up{
    background-color: transparent;
    display: inline-flex;
    vertical-align: middle;
    -webkit-box-align: center;
    align-items: center;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    text-decoration: none;
    border: none;
    appearance: none;
    height: calc(3 * var(--lns-unit,8px));
    cursor: pointer;
    transition: background-color 0.6s ease 0s;
    color: var(--color-body);
    font-weight: var(--fontWeight-bold);
    border-radius: var(--radius-full);
    font-size: var(--fontSize-small);
    line-height: var(--lineHeight-small);
    padding: 0 calc(1 * var(--lns-unit,8px));
}

 header .header-sign-up{
    background-color: transparent;
    display: inline-flex;
    vertical-align: middle;
    -webkit-box-align: center;
    align-items: center;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    text-decoration: none;
    border: none;
    appearance: none;
    height: calc(3 * var(--lns-unit,8px));
    cursor: pointer;
    transition: background-color 0.6s ease 0s;
    color: var(--color-body);
    font-weight: var(--fontWeight-bold);
    border-radius: var(--radius-full);
    font-size: var(--fontSize-small);
    line-height: var(--lineHeight-small);
    padding: 0 calc(1 * var(--lns-unit,8px));
}




header .header-sign-up:hover{
    background-color: var(--color-secondaryHover);
}

.nav-content{
    padding: var(--space-medium);
    border-bottom: 1px solid var(--side-border-color);
    margin-top: var(--space-small);
}

.nav-content-box{
    overflow-y: scroll;
}


.nav-content-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: var(--space-medium) 0;
    cursor: pointer;
    padding: 4px var(--space-small);
    border-radius: var(--radius-full);

}

.nav-content-item:hover{
    background-color: var(--color-secondaryHover);
}

.nav-content-item-icon{
  width: var(--icon-size);
}

.nav-content-text{
    font-size: var(--fontSize-body-md);
    line-height: var(--lineHeight-body-md);
    font-weight: var(--fontWeight-bold);
    color: var(--color-body);

}

.float-btn{
    position: absolute;
    bottom: 1.3rem;
    left: 0;
    width: 10rem;
    height: 47px;
    border-top-right-radius: var(--radius-full);
    border-bottom-right-radius: var(--radius-full);
    background-color: var(--color-secondary);
    transition: background-color 0.6s ease 0s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.hover-btn{

}
.hover-btn:hover{
    background-color: var(--color-primaryHover);
    
}

/* .float-btn:hover{
    background-color: var(--color-primaryHover);
} */

.float-btn h3{
    color: #fff !important;

}

.float-btn-icon{
    width: 30px;
    height: 30px;
}




main{
    width: 84%;
    color: hsla(0,0%,13%,1);
    transition: padding .3s, width .3s;
    background: var(--color-primary);
    margin: 0 auto;
    height: 70vh;

}

header{
    position: fixed;
    z-index: 4;
    top: 0;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;
    display: flex;
    width: 84%;
    height: 4rem;
    padding: 0 var(--base-space-medium);
    background: var(--color-primary);
}

.header-content{
    width: 35rem;
    justify-content: flex-end;
    margin-right: 5%;
    gap: 1rem;

}

.header-content > div{
    gap: 16px;
}

.header-content-icon{
   width: var(--icon-size);
   height: var(--icon-size);
   
}

.header-content-icon-bx{
    width: 30px;
    height: 30px;
    padding: 4px;
    transition: background .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
   border-radius: 100%;

}

.header-content-icon-bx:hover{
    background-color: var(--color-secondaryHover);
}

.header-content-section-radius{
    border: 1px solid var(--side-border-color);
    border-radius: var(--radius-full);
    padding: 4px  var(--space-medium);
    gap: 8px;
}

.header-content-section-2 .header-content-section-radius:hover{
 background-color: var(--color-secondaryHover) ;
}

.header-content-section-radius .header-content-icon {
    width: 18px;
    height: 18px;
    margin-bottom: 0.4rem;
}


/* main content */

.main-content{
    gap: var(--gridGap);
    width: 100%;
    /* height: 100vh; */
    display: grid;
    margin: 0 auto;
    max-width: 1000px;
    grid-template-areas: var(--containerAreas);
    grid-template-rows: auto 1fr;
    /* background-color: blueviolet; */
}

.video-box{
    margin-top: 4rem;
    width: 100%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.5);
    border-radius: var(--radius-medium);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background .5s ease-in-out;


}

.video-box:hover{
    background: rgba(0, 0, 0, 0.6);

}

.play-stop-box{
    width: 200px;
    height: 200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button-bx{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background: var(--color-primary);
    overflow: hidden;
    transition: transform .5s ease-in-out;
}

.video-box:hover .button-bx{
    transform: scale(1.1);
}

.button-bx button{
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
     border: none;

}

.button-bx button svg{
    border: none;
}

.accelerate{
    margin-top: 1rem;
    text-align: center;
    background: black;
    border-radius: 19px;
    overflow: hidden;
    padding: 4px;
    color: white;
    min-width: 230px;
}

.accelerate-time{
    background-color: hsla(0,0%,20%,1);
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 15px;
    padding: 6px;
    justify-content: space-between;
}

.accelerate-title{
    font-size: 1.2rem;
    font-weight: 100;
    margin: 4px ;
}

.transcription-box{
    font-size: 20px;
    font-weight: 100;
}



.transcription-box{
    width: 150px;
    height: 40px;
    background: hsl(0deg 0% 20.39%);
    position: absolute;
    top: 12%;
    right: 0;
    gap: 14px;
    justify-content: center;
    border-top-left-radius: 14px ;
    border-bottom-left-radius: 14px ;
    color: white;
}
.transcription-text{
    font-size: .8rem;
    font-family: 800;
}

.transcription-icon{
    width: var(--icon-size);
    height: var(--icon-size);
}

.video-box .actions-box{
    width: 100%;
    height: 40px;
    background: transparent;
    position: absolute;
    bottom: -3.5rem;
    transition: .5s ease-in-out;
    justify-content: space-between;
}

.actions-box{
}

.video-box:hover .actions-box{
    bottom: 0rem;
}

.video-box-last-section{
    height: 50px;
    border: 1px solid var(--side-border-color);
    width: 34rem;
    margin: .5rem auto 3rem;
    border-radius: var(--radius-full);
    justify-content: space-between;
    padding: 0 8px;
}

.video-box-last-section-btns button{
    border: none;
    font-size: 23px;
    margin: 2px;
    border-radius: var(--radius-full);
    background: none;
    cursor: pointer;
}

.video-box-last-section-btns button:hover{
    background-color: var(--color-secondaryHover);
}

.video-box-last-section-comment{
    gap: 6px;
    padding: 8px 10px;
    border-radius: var(--radius-full);
    transition: width 0s 0s,padding 350ms;
    cursor: pointer;
}

.video-box-last-section-comment:hover{
    background-color: var(--color-secondaryHover);
}

.video-box-last-section-comment-icon{
    width: 20px;
    height: 20px;
    
}

/* comment */

 article .comment-title{
    font-size:  calc(4 * var(--base-unit,8px));
    font-weight: var(--fontWeight-bold);
 }

 #comments .comment-header{
    gap: 1rem;
    margin: var(--space-medium) 0;
 }

 #comments .comment-header p{

     color: hsla(252,13%,46%,1);
    font-size: var(--fontSize-body-md);

 }

 .user-comment-logo{
    width: 50px;
    height: 50px;
    background: var(--color-third);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
 }
 .user-comment-logo span{
    font-size: 1.3rem;
 }

 .comment-begin{
    font-size: 1rem;
    color: var(--color-body);
    font-weight: var(--fontWeight-medium);
 }

 /* discussion */

 .discussion{
    margin-top: 1.5rem;
    position: relative;
 }

 .discussion-title{
    position: absolute;
    top: -0.3rem;
    left:0;
    gap: 1rem;
    width: 30%;
    margin-left: -1rem;

 }

 

 .discussion-title-bottom{
    position: absolute;
    border: 0;
    bottom: -1rem;
    left: 2.1rem;
    width: 50%;
    background: white;
    gap: 1rem;


 }
 .discussion-body, .replies-content{
    border-left: 2px solid var(--side-border-color);
    border-bottom: 2px solid var(--side-border-color);
    border-radius: var(--radius-medium);
    padding: 2.1rem;
    width: 60%;
 }
 .discussion-body-text, .reply-content-text {
    font-weight: 200;
    font-size: 14.5px;
    line-height: 25px;
    letter-spacing: .2px;
    color: var(--color-body);
 }
 .discussion-date{
    margin-top: 0.5rem;
    font-weight: 200;
    font-size: 14.5px;
    color: var(--color-disscusion-date);
 }

 .replies-content{
    border-top: none;
    border-bottom: none;
    margin-left: 2.1rem;
    border-radius: 0;
 }

 .replies{
    position: relative;
    margin-left: 1rem;
 }

 .reply-name{
    width: 35px;
    height: 35px;
    background: rebeccapurple;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5rem;
    left: 1rem;
 }

 .reply-action{
    gap: .7rem;
    width: 100px;
    height: 40px;
    background-color: hsla(240, 83%, 93%, 0.349);
    border-radius: var(--radius-full);
    transition:  backgound 360ms ease-in;
    margin-left: 1rem;
 }

 .reply-action:hover{
    background-color: hsla(242, 86%, 78%, 0.158);
 }
 .reply-action-icon{
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    padding: 10px;
    background-color: hsl(240deg 82.35% 93.33%);
    color: var(--color-secondary);
    margin-left: .2rem;
 }
 .reply-action-text{
    color: var(--color-secondary);
 }




@media (max-width:1242px){
   main{
       width: 75%;        
   } 

   .main-content{
    padding: 1rem;
   }
  
}

@media (max-width: 820px){

        .header-content .header-content-section-1, .header-content-section-2{
        display: none;
    }

header{
    width: 100%;
}

.header-content{
 margin-right: 2% !important;
}

    main{
        width: 100%;
    } 

    aside{
        display: none;
    }

    header .toggle {
       visibility: visible !important; 
    }

    article .comment-title{
        font-size: 1.5rem;
    }

    #comments{
        padding-left: 1rem ;

    }

    .discussion-title-bottom{
        /* width: 50%; */
    }
 }

 #mobile-side{
    display: none;
    position: fixed;
    z-index: 11;
    height: 100%;
    /* animation: mobile-side-anim 360ms ; */
 }

 @keyframes mobile-side-anim {
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0);

    }
 }

 #menu-shadow{
    display: none;
    position: absolute;
    width: 100%;
    height: 1000%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
 }



 #mobile-side nav{
    display: block;
    /* background-color: red; */
 }


 /*  */

@media(max-width:556px){
    /* .video-box{
        width: 96%;
    } */

    .video-box-last-section{
        display: none;
    }
 }


@media (max-width:64em){
    /* .header-content .header-content-section-1, .header-content-section-2{
        display: none;
    } */


}

@media (max-width:1254px){

    header{
        width: 100%;
    }

    .header-content{
        margin-right: 16rem;
    }
}
